/*{
  height: 0.3px;
  background-color: teal;

}*/

.myskills {
  padding: 50px;
  padding-bottom: 30px;
  background-color: teal;

}
.myskills  h2 {
  color: white !important;
}

.myskills ul {
  list-style: none;
  margin: 10px auto;
  justify-content: center;
  display: inline;
}

hr {
  height: 2px;
  width: 100px;
}

 .sub{
  color: green !important;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Kavoon', cursive;
  font-family: 'Cinzel', serif;
  text-align: center;
}

 h2 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 800;
  color: #C51162;
  font-family: 'Kavoon', cursive;
  font-family: 'Cinzel', serif;
  padding-top: 50px;
}

i {
  text-align: center;
  font-size: 100px;
  color: grey ;
  margin: 20px;
  padding-top: 30px;
}
li {
  text-align: center;
}

.non {
  font-size: 20px;
  font-family: 'Bowlby One', cursive;
  text-align: center;
  list-style: none;
  text-align: justify;
  margin-top: 30px;
}

/*.my-slide {
  width: 100%;
  text-align: center;
}*/

.my-non {
  width: 100%;
  text-align: center;
}
 .good {
   margin: 0 !important;
 }
