html, body{
  margin: 0;
  padding: 0;
}



.header {
  padding: 0px;
  background-image: url("https://i.imgur.com/8SJzMak.png");
  background-size: cover;
  background-position: 60% 0%;
}

.header .first h1, .header h5 {
  padding: 30px 0;
}

/*/h1 {
  text-align: center;
  color: white !important;
  font-size: 40px;
  font-family:  'Kavoon', cursive;
}*/

.my-image {
  background-image: url("https://i.imgur.com/3VinVFX.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 0;
  border-radius: 50%;

}

.text-center {
  color: white !important;
  text-align: center;
  font-size: 40px;
  /*font-family: 'Fondamento', cursive;
  font-family: 'Pangolin', cursive;*/
}

.header-text h1 {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
/*.text-center h5{
  font-family:  'Fondamento', cursive;
  font-family: 'Pangolin', cursive;
}*/

.col {
  padding: 0px 0px !important;
}
