/*.navbar {
  background-color:#8b1a1a ;
  padding: 10px 50px;

}
a{
  color: white !important;
  font-family: 'Lato', 'Helvetica Neue', sans-serif;;
  font-size: 30px;

}

.navbar-custom{
  background-color:

}

.navbar-toggler{
  background-color: white;
}*/
